# Service for PostgreSQL database
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: kc
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
---
# Deployment for PostgreSQL database
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: kc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: basedatos
            - name: POSTGRES_USER
              value: usuario
            - name: POSTGRES_PASSWORD
              value: contrasenya
          readinessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
            initialDelaySeconds: 10
            periodSeconds: 5